@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;900&display=swap");

/* Globals */
body {
  font-family: "Montserrat", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header,
footer {
  color: white;
}

.container {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.marg-bot-1 {
  margin-bottom: 1rem;
}

.text-align-center {
  text-align: center;
}

.overflow-hidden {
  overflow: hidden;
}

/* BACKGROUNDS */
.bg-semi {
  background-color: #008299;
}

.bg-dark {
  background-color: #172033;
}

.bg-light {
  background-color: lightgray;
}

.bg-whitish {
  background-color: whitesmoke;
}
